<%- include ('partials/head') %>

<main>
    <p>Le serveur fonctionne correctement.</p>
  </main>

  <footer>
    <p>Bibliotech &copy; <%= new Date().getFullYear() %></p>
  </footer>
</body>
</html>

<%- include ('partials/foot') %>